@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
span.fillh{visibility:visible;display:block;width:100%;clear:both;content:'<br><br><br><br><br><br>';height:116px} 

		@media only screen and (max-width:767px) {
			span.fillh{visibility:visible;display:block;width:100%;clear:both;content:'<br><br>';height:50px} 
		}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
		
zhtml { 
    font-size: 62.5%; 
	max-width:100%;
}
BODY {
	BORDER-RIGHT: 0px; BACKGROUND: #fafafa; MARGIN: 0px 2px 0px 6px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; 
	FONT-FAMILY: "Noto Sans", Roboto, Arial; FONT-SIZE: 22px; FONT-SIZE:2.2rem; word-wrap: break-word;
	FONT-SIZE: 18px; FONT-SIZE:1.8rem;
	max-width:100%;
}
.texte {
	BORDER-RIGHT: 0px; MARGIN: 0px 0px 0px 4px; BORDER-LEFT: 0px; COLOR: #000000; BORDER-BOTTOM: 0px; 
	FONT-FAMILY: "Noto Sans", Roboto, Arial; FONT-SIZE: 19px; FONT-SIZE:1.8rem;  z-index:-1;
	padding-left: 15%; padding-right:15%; BORDER: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid;
	margin: auto;background-color:#bcbcbc;
}

@media screen and (max-width: 55em) {
.texte {
	BORDER-RIGHT: 0px; MARGIN: 0px 0px 0px 4px; BORDER-LEFT: 0px; COLOR: #000000; BORDER-BOTTOM: 0px; 
	FONT-FAMILY: "Noto Sans", Roboto, Arial; FONT-SIZE: 16px; FONT-SIZE:1.6rem;  z-index:-1;
	padding-left: 0%; padding-right:0%; 
}
}

img.al{
float:left;
vertical-align:top;
margin-top:4px;
margin-left:2px;
width:24px;
}
img.ar{
float:right;
vertical-align:top;
margin-top:4px;
margin-right:2px;
zpadding-right:16px;
width:24px;
}
.buttons {
background:white;padding-left:12px;padding-right:12px;display:inline-block;position: relative;	left: 50%;	transform: translateX(-50%);	
}

H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 32px; FONT-SIZE: 3.2rem; background-color: #e0e0e0; border: 4px; line-height: 32px; border:1px solid #c0c0c0;  
}

TD {
	BORDER-RIGHT: 0px; FONT-SIZE: 16px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #000000; BORDER-BOTTOM: 0px; 
 font-family:Roboto, Arial;FONT-SIZE: 22px; FONT-SIZE:1.9rem; 
}

A:active {
	COLOR: #000080; TEXT-DECORATION: none
}
A:link {
	COLOR: #000080; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000080; TEXT-DECORATION: none
}
LI {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; zCOLOR: #000080;
}
LI P {
	MARGIN: 0px; COLOR: #000000;
}
.Titre {
zcolor:#000000;
zbackground-color:#e0e0ff;

color:white;
background-color:#4050c0;

text-transform:uppercase;
text-align:center;	
text-shadow: 0px 1px 1px #404040;
zbackground-color:#f0f0f0;
zborder: 1px solid #a0a0a0;
border-radius:8px;


box-shadow:1px 1px 1px rgba(128, 92, 128, .7);
zfont-style:italic;

zFONT-WEIGHT: bold; 
FONT-SIZE: 21px; 
zbox-shadow:0 1px 1px rgba(0, 0, 0, .05);
zbackground: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmRiYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

hr { border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); background-image: -o-linear-gradient(left, #ccc, #333, #ccc); }

ol li {
  zcolor:#000080;
}
li:hover {
zbackground:#ececff;
zopacity:0.95;
  
zbackground: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmRiYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
zbackground: -moz-linear-gradient(top, rgba(254,255,232,1) 0%, rgba(214,219,191,1) 100%);
zbackground: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,232,1)), color-stop(100%,rgba(214,219,191,1)));
zbackground: -webkit-linear-gradient(top, rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%);
zbackground: -o-linear-gradient(top, rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%);
zbackground: -ms-linear-gradient(top, rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%);
zbackground: linear-gradient(to bottom, rgba(192,192,236,1) 0%,rgba(236,236,255,1) 100%);
zfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 );

  zbackground-color : #ffffd0; 
  zcolor:#202080;
  
  background-color : #f4fafa; 
  color:#000020;
  
  opacity:0.9;  
}

.liste--boite {
  display:inline;
  margin:0px;
  padding:0px;
  list-style: none;
  counter-reset: counter;
}
.liste--boite > li:before {
  counter-increment: counter;
  content: counter(counter);
}
.liste--boite > li, .liste--boite > li a {
  display: block;
  width: 100%;
  }
.liste--boite > li{
  position: relative;
  zmargin-bottom: 1.5rem;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  zmargin-left: -7px;
  padding-top:8px;
  zmargin-bottom:0.2rem;
  zpadding-left: 0.25rem;
  zborder-radius: 1rem;
  zbackground-color:#fcfcff;  
  opacity:0.82;
}
.liste--boite > li:before {
  position: absolute;
  font-size:0.8rem;
  top: -0.1rem;
  margin-left:-0px;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  zborder-radius:14px;
  zbackground-color: #d0d0d0;
  color: #8080a0;
  background-color: #f0f0fc;
  zcolor: #808080;
  
}
.liste--boite > li:last-child {
  margin-bottom: 0;
}

.liste--droite {
  zmargin-left: -45px;
  margin-left: 0px;
  margin-right:2px;
  list-style: none;
  counter-reset: counter;
}
.liste--droite > li:before {
  counter-increment: counter;
  content: counter(counter);
}
.liste--droite > li, .liste--droite > li a {
  display: block;
  width: 100%;
  padding:0;
}
.liste--droite > li:before, .liste--droite > li a:before {
  float: left;
  display: inline-block;
  //font-size:12px;
  width: auto;  
  min-width:22px;
  text-align: center;
  zcolor: #c0c0c0;
  //background-color:#ffffff;
}

input {
  border: 1px solid #DDDDDD;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

UL {
 margin:0;
 padding:0;
 list-style-type: none;
}

a.z {
  display: block;
  width: 100%;
}

.stick-top{
position:fixed;
font-size:18px;
top:0px;
left:0px;
background:#000000;
color:#000000;
height:auto;
width:100%;
max-width:100%;
padding:0;
MARGIN: 0px 0px 0px 0px;
margin-right:6px;
z-index: 9999 !important;
box-shadow: 2px 3px 5px #888;
}
.stick-top :hover, .stick-top img:hover, .stick-top a:hover{
background:#000000;
}



.video-container {
	zposition: relative;
	zclear:both;
	zpadding-bottom: 56.25%;
	zpadding-bottom: 315px;
	zpadding-top: 30px;
	zheight: 0;
	zoverflow: hidden;
	zmax-height:315;
	
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	zposition: absolute;
	ztop: 0;
	zleft: 0;
	zmax-height:315;
}
 .zcontainer{
 max-width:100%;
}

.videoWrapperOuter {
  max-width:640px; 
  margin-left:auto;
  margin-right:auto;
}
.videoWrapperInner {
  float: right;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}
.videoWrapperInner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box {
	position: relative;
	float: left;
	display: block;
	font-family: 'Open Sans';
	font-size:15px;
	font-weight:normal;	
	white-space: normal;
}

.box .boxm {
	text-align: center;
	overflow: hidden;
	background-image: linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -o-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -moz-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -webkit-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -ms-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(1, #F3F3F3), color-stop(0, #FFFFFF) );
	border: 1px solid #E1E1E1;
	-moz-box-shadow: 0px 1px 0px #ecebeb;
	-webkit-box-shadow: 0px 1px 0px #ecebeb;
	height: 130px;
	width: 120px;
	margin: 0px;	
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.box .boxb {
	text-align: center;
	overflow: hidden;
	background-image: linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -o-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -moz-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -webkit-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -ms-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(1, #F3F3F3), color-stop(0, #FFFFFF) );
	border: 1px solid #E1E1E1;
	-moz-box-shadow: 0px 1px 0px #ecebeb;
	-webkit-box-shadow: 0px 1px 0px #ecebeb;
	height: 210px;
	width: 150px;
	margin: 0px;	
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.box .boxp {
	text-align: center;
	overflow: hidden;
	background-image: linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -o-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -moz-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -webkit-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -ms-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(1, #F3F3F3), color-stop(0, #FFFFFF) );
	border: 1px solid #E1E1E1;
	-moz-box-shadow: 0px 1px 0px #ecebeb;
	-webkit-box-shadow: 0px 1px 0px #ecebeb;
	height: 180px;
	width: 103px;
	margin: 0px;	
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.box .boxs {
	text-align: center;
	overflow: hidden;
	background-image: linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -o-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -moz-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -webkit-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -ms-linear-gradient(bottom, #F3F3F3 10%, #FFFFFF 10%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(1, #F3F3F3), color-stop(0, #FFFFFF) );
	border: 1px solid #E1E1E1;
	-moz-box-shadow: 0px 1px 0px #ecebeb;
	-webkit-box-shadow: 0px 1px 0px #ecebeb;
	height: 120px;
	width: 77px;
	margin: 0px;	
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.boxm, .boxb, .boxs, .boxp{
	position: relative;
	margin: 0;
	float: left;
}

.box .boxm div, .box .boxb div, .box .boxm div, .box .boxs div , .box .boxp div  {
	padding: 2px;
}

.box .boxm:hover, .box .boxb:hover, .box .boxm:hover, .box .boxs:hover, .box .boxp:hover{
	background:#808080;
	color:white;
	border: 1px solid #c0c0ff;
	-moz-box-shadow: 0px 4px 0px #ecebeb;
	-webkit-box-shadow: 0px 4px 0px #ecebeb;

}

.box .boxImage {
	-zwebkit-transition: all 0.2s linear;
	-zmoz-transition: all 0.2s linear;
	-zo-transition: all 0.2s linear;
	ztransition: all 0.2s linear;
	margin-bottom:-8px;
}

.box :hover .boxImage {
	position: relative;
	-webkit-animation: moveFromTop 200ms ease;
	-moz-animation: moveFromTop 200ms ease;
	-ms-animation: moveFromTop 200ms ease;	
}

.box .boxDescription{
	color: #404040;
}

.boxs .boxDescription{
	color: #404040;
	font-family: 'Open Sans';
	font-size:12px;
	font-weight:normal;		
}

.box :hover .boxDescription {
	position: relative;
	color:#EAEAEA;
}

input {
  border: 1px solid #DDDDDD;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

TEXTAREA {
  FONT-FAMILY: 'Source Sans Pro'; FONT-SIZE: 22px; FONT-SIZE:2.2rem; 
}


a.x {

FONT-FAMILY: Roboto, Arial; word-wrap: break-word;
FONT-SIZE: 17px; FONT-SIZE:1.7rem;
FONT-WEIGHT:bold;
background-color:#f0f0f0;
vertical-align:top;
border:1px solid #c0c0c0;  
width:217px;
float:left;
display:inline-block;
margin:2px;
}

a.xl {
background-color:#f0f0f0;
FONT-FAMILY: Roboto, Arial; word-wrap: break-word;
FONT-SIZE: 17px; FONT-SIZE:1.7rem;
FONT-WEIGHT:bold;

vertical-align:top;
border:1px solid #c0c0c0;  
width:317px;
float:left;
display:inline-block;
margin:2px;
}

a.xs {
background-color:#f0f0f0;
vertical-align:top;
border:1px solid #c0c0c0;  
width:106px;
float:left;
font-size:14px;
display:inline-block;
margin:2px;
}

a.xxs {
background-color:#f0f0f0;
vertical-align:top;
border:1px solid #c0c0c0;  
width:68px;
float:left;
zfont-size:14px;
display:inline-block;
padding:3px;
margin:2px;
}

span.e {
font-size:14px;
color:#808080;
}

span.i {
  width:319px;
  border:1px solid #c0c0c0;    
  vertical-align:top;
  display:inline-block;
}

span.h {
  width:217px;
  vertical-align:top;
  display:inline-block;
}

span.t {
  zwidth:217px;
  zwidth:319px;
  width:100%;
  display:block;
  color:white;
  background-color:black;
  zfloat:left
  border:1px solid #c0c0c0;      
  margin:2px;  
  vertical-align:top;
}

img.desktop{visibility:display;width:100px;height:100px}

@media only screen and (max-width: 1024px) 
{
img.desktop{visibility:hidden;height:0;width:0}
}

a,a:link,a:visited,a:active{text-decoration: none; -webkit-transition: color .4s linear; -moz-transition: color .4s linear; -ms-transition: color .4s linear; -o-transition: color .4s linear; transition: color .4s linear; border-radius: 10px; text-decoration:none;}
:hover,a:hover,a:link:hover,a:visited:hover,a:active:hover{color:#fff;background:#e12000;text-decoration: none;}

img {
border:0px;
spacing:0px;
padding:0px;
margin:0px;
}

:hover, a:hover, a:link:hover, za.xs:hover, a.x:hover, a.xl:hover,
a.xs:visited:hover, a.x:visited:hover, a.xl:visited:hover,
a.xs:active:hover, a.x:active:hover, a.xl:active:hover,
a:visited:hover, a:active:hover {
  text-decoration: none;
  zbackground-color : #fcfcfc; zcolor:#404040;
  color:white;background:#6666dc; 
  zopacity:0.9;
  -webkit-transition: color .4s linear; -moz-transition: color .4s linear; -ms-transition: color .4s linear; -o-transition: color .4s linear; transition: color .4s linear; 
}